.bookSelect
  &_item:first-child
    border-top: 1px solid $separation-color

  &_item
    height 50px
    padding 10px
    border-bottom: 1px solid $separation-color
    cursor pointer

    &-selected
      background $select-color

  &_title
    font-weight bold
    font-size 20px
