.books
  &_item:first-child
    border-top: 1px solid #ddd

  &_item
    height 50px
    padding 10px
    border-bottom: 1px solid #ddd
    cursor pointer

    &-selected
      background #eee

  &_title
    font-weight bold
    font-size 20px
