.charactersThumbnail
  padding 3px 5px 0 5px
  overflow hidden
  height 25px
  border-bottom: 1px solid $separation-color

  &_image
    img
      max-width 32px
      max-height 23px
    display inline-block
    width 32px
    height 25px
    margin-right 2px

  &-selected
    background-color $select-color
