.charactersInput
  margin-top 10px

  &_character
    display inline-block
    margin-right 5px

    padding 1px
    width 64px
    border 2px solid white

    img
      max-width 100%
      max-height 100%

    &-selected
      border 2px solid blue
