.charactersDetect
  *
    vertical-align top

  &_thumbnail
    display inline-block
    height 150px
    margin-right 10px
    width 210px

    img
      max-height 100%
      max-width 100%

  &_infer
    display inline-block
    width 100px

    img
      width 40px

  &_face
    margin-bottom 2px

    img
      margin-right 2px

    *
      vertical-align middle
