.headerMenu
  background: $header-color

  a
    color: $header-text-color

  &-title
    text-transform: none
    font-variant: small-caps

  &-items
    a:hover, a:focus
      background: none
      border: none
      color: $header-focus-color

    .pure-menu-children
      background: $header-color

    .pure-menu-selected .pure-menu-link, .pure-menu-selected .pure-menu-link:visited
      color: $header-select-color
