.panel
  vertical-align top

  &_character
    padding 1px 3px
    font-size 0.6rem
    display inline-block
    border-radius 5px
    background green
    color white

    & + &
      margin-left 2px

