.scriptForm
  &_thumbnail
    display inline-block
    img
      height 180px

  &_autoScript
    display inline-block
    vertical-align top
    padding-left 10px
    width 280px

  &_script
    width 100%

    textarea
      font-size 18px
      width 98%
      height 130px
      resize none
      padding 5px
      border-radius 5px
      border 1px #c7c7cc solid
