.scriptThumbnail
  font-size 9px
  white-space nowrap
  margin-bottom 2px
  overflow hidden
  text-overflow ellipsis

  *
    vertical-align middle

  &_image
    width: 32px
    margin-right 5px

  &_selected
    background-color gray
