.scriptThumbnail
  font-size 9px
  white-space: nowrap
  margin-bottom 2px
  overflow hidden
  text-overflow:    ellipsis

  *
    vertical-align middle

  &-image
    width: 32px

  &_selected
    background-color gray
