.searchBox
  width 500px

  &_query
    border 1px $layout-border-color solid
    border-radius 5px
    display block
    font-size 100%
    height $form-field-height
    line-height $form-field-height
    outline none
    padding 0 12px
    width 100%

  &_characters
    margin-top 10px

  &_character
    display inline-block

    & + &
      margin-left 10px
