.volumeSelect
  &_title
    background $section-background-color
    border-bottom $section-border-coor solid 1px
    padding 2px 5px
    color $section-color

  &_volume
    font-weight bold
    font-size 20px
    padding 10px
    border-bottom: 1px solid $separation-color
    cursor pointer

    &-selected
      background $select-color

  &_panelCount
    font-size 15px
