$primary-text-color = #333

$header-color = hsl(210, 27, 24)
$header-focus-color = hsl(180, 80, 80)
$header-select-color = hsl(180, 50, 80)
$header-text-color = hsl(0, 0, 90)

$button-color = #ddd
$select-color = #eee
$separation-color = #ddd

$section-background-color = #f9f9f9
$section-border-coor = #e0e0e0
$section-color = #808080
