#col-2
  #nav
    BookSelect(books=books, onClick=bookAction.select)
  #main
    if demo.detect_path
      .demoResult
        .demoResult_detect
          img(src='/tmp/' + demo.detect_path)
        .demoResult_characters
          for face in demo.faces
            .demoResult_character(key=face[0])
              .demoResult_face
                img(src='/tmp/' + face[0])
              .demoResult_name
                = face[1]
    else if book
      input(type='file', accept='image/*', onChange=selectFile)
