appnope==0.1.0
cv2==1.0
cycler==0.10.0
dask==0.8.1
decorator==4.0.9
Flask==0.10.1
gnureadline==6.3.3
google-api-python-client==1.5.0
httplib2==0.9.2
ipython==4.1.2
ipython-genutils==0.1.0
itsdangerous==0.24
Jinja2==2.8
jsonschema==2.5.1
MarkupSafe==0.23
matplotlib==1.5.1
mpmath==0.19
networkx==1.11
numpy==1.10.4
oauth2client==2.0.1
pandas==0.18.0
path.py==8.1.2
pathlib==1.0.1
pexpect==4.0.1
pickleshare==0.6
Pillow==3.1.1
ptyprocess==0.5.1
pyasn1==0.1.9
pyasn1-modules==0.0.8
pylab==0.1.3
pyparsing==2.1.0
python-dateutil==2.5.1
pytz==2016.1
pyzmq==15.2.0
rsa==3.4
scikit-image==0.12.3
scikit-learn==0.17.1
scipy==0.17.0
seaborn==0.7.0
simplegeneric==0.8.1
simplejson==3.8.2
six==1.10.0
sympy==1.0
tinydb==3.1.3
toolz==0.7.4
tornado==4.3
traitlets==4.2.1
uritemplate==0.6
Werkzeug==0.11.4
