{% extends "base.html" %}
{% set active_page = 'manual' -%}
{% block content %}
<form class="characterSelect" method="POST" action="{{url_for('learn.start', id=book.id)}}">
  {% for character in book.characters %}
    <div>
      <h2>
        <input type="checkbox" name="{{character.tag}}" />
        {{character.name}} ({{characters[character.tag].__len__()}})
      </h2>
      <div class="characterSelect-faces">
      {% for face in (characters[character.tag]|default([]))[0:10] %}
        <img class="characterSelect-face" src="/{{face}}" />
      {% endfor %}
      </div>
    </div>
  {% endfor %}
  <button type="submit" class="characterSelect-submit pure-button pure-button-primary">
    <i class="fa fa-tasks"></i>
  </button>
</form>
{% endblock %}
