#middle(ref='scrollArea')
  each panel in panels
    - var refs = panel.selected ? { 'ref': 'selectedPanel' } : {};
    div(key=panel.path, onClick=panelAction.select.bind(this, panel.path))&attributes(refs)
      =panelComponent(panel)
#main
  =children
