{% extends "base.html" %}
{% set active_page = 'upload' -%}
{% block content %}
<form class="pure-form pure-form-stacked" action={{url_for('upload.create', id=book.id)}} method="POST" enctype="multipart/form-data">
  <label for="title">title</label>
  <input id="title" name="title" type="text" value="{{book.title}}" readonly />

  <label for="volume">volume</label>
  <select id="volume" name="volume">
    {% for i in range(1, book.volume | int + 1) %}
    <option value={{i}}>{{i}}</option>
    {% endfor %}
  </select>

  <label for="images">images</label>
  <input id="images" name="images" type="file" multiple accept="image/*" />

  <button type="submit" class="pure-button pure-button-primary">
    <i class="fa fa-cloud-upload"></i>
  </button>
</form>
{% endblock %}
