{% macro option(name, value, select) -%}
<option value='{{value}}'
  {% if value == select %}selected{% endif %}>
  {{name}}
</option>
{%- endmacro %}

{% extends "base.html" %}
{% set active_page = 'manual' -%}
{% block content %}
<div id="sidebar">
  {% for p in panels %}
    <div class="charactersThumbnail {% if p.path == panel.path %}charactersThumbnail_selected{% endif %}">
      <a href="{{url_for('manual_characters.edit', id=id, vol=vol, path=p.path)}}">
        <img src="/{{ p.detect }}" class="charactersThumbnail-detect" />
        {% for face in p.faces %}
        <img src="/{{ face }}" class="charactersThumbnail-face" />
        {% endfor %}
      </a>
    </div>
  {% endfor %}
</div>
<div id="main">
  <form class="pure-form pure-form-stacked charactersForm" method="POST" action="{{url_for('manual_characters.update', id=id, vol=vol)}}">
    <div class="pure-g">
      <div class="pure-u-1-3 charactersForm-thumbnail">
        <img src="/{{panel.detect}}" />
      </div>
      <div class="pure-u-1-3">
        <i class="fa fa-magic"></i>
        {% set auto_characters = panel.metadata.get('auto_characters')|default([]) %}
        {% for face in panel.faces %}
        <div class="characterInfer">
          <img src="/{{ face }}" class="characterInfer-face" /><br />
          {{ character_names[auto_characters[loop.index0]] }}
        </div>
        {% endfor %}
      </div>
      <div class="pure-u-1">
        <p><i class="fa fa-crop"></i></p>
        {% for face in panel.faces %}
          {% set n = loop.index0 %}
          {% set inputed = panel.metadata.characters[n] if 'characters' in panel.metadata else None %}
          {% set current = input|default(auto_characters[n]) %}
          <div class="pure-u-1-12">
            <img src="/{{ face }}" class="charactersForm-face" />
            {% if inputed %}
              <i class="fa fa-cogs"></i>
            {% else %}
              <i class="fa fa-magic"></i>
            {% endif %}
            <select name="character[{{n}}]">
              {{ option('', 'none', current) }}
              {% for c in book.characters %}
              {{ option(c.name, c.tag, current) }}
              {% endfor %}
              {{ option('other', 'other', current) }}
            </select>
          </div>
        {% endfor %}
      </div>
      <div class="pure-u-1">
        <p><i class="fa fa-group"></i></p>
        {% for n in range(5) %}
          {% set current = panel.metadata.others[n] if 'others' in panel.metadata else '' %}
          <div class="pure-u-1-12">
            <select name="other[{{n}}]">
              {{ option('', '', current) }}
              {% for c in book.characters %}
              {{ option(c.name, c.tag, current) }}
              {% endfor %}
              {{ option('other', 'other', current) }}
            </select>
          </div>
        {% endfor %}
      </div>
      <div class="pure-u-1">
        <input type="hidden" name="path" value="{{panel.path}}" />
        <button type="submit" class="charactersForm-submit pure-button pure-button-primary">
          <i class="fa fa-check"></i>
        </button>
      </div>
    </div>
  </form>
</div>
{% endblock %}
