#col-2
  #nav
    position absolute
    top 29px
    left 0
    width 300px
    bottom 0
    overflow scroll
    border-right 1px solid $layout-border-color

  #main
    position absolute
    top 39px
    left 310px
    right 0
    bottom 0
    overflow scroll
