#sidebar
  background $header-color
  bottom 0
  left 0
  position absolute
  top 29px
  width 180px
  overflow scroll
  color $header-text-color
  padding 10px

  a
    color $header-text-color
    text-decoration none

#main
  position absolute
  top 50px
  bottom 0
  left 220px
  right 0px
  overflow scroll
