.searchBox
  DebounceInput(className="searchBox_query", debounceTimeout=300, onChange=onChange, placeholder="台詞等", ref="query")

.thumbnail
  each panel in query.panels.slice(0, 50)
    .thumbnail_image(key=panel.path)
      Panel(panel=panel, book=book)
