<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <title>{% block title %}Eagle Jump System{% endblock %}</title>
    <link rel="shortcut icon" href="/static/favicon.ico" />
    <link rel="stylesheet" type="text/css" href="/static/main.css">
    {% block head %}{% endblock %}
  </head>
  <body>
    <div class="headerMenu pure-menu pure-menu-horizontal pure-menu-fixed">
      <a class="headerMenu-title pure-menu-heading" href="/">
        EagleJumpSystem
      </a>
      {% set active_page = active_page|default('index') -%}
      <ul class="headerMenu-items pure-menu-list">
        <li class="pure-menu-item {% if 'index' == active_page %}pure-menu-selected{% endif %}">
          <a href="/" class="pure-menu-link">
            <i class="fa fa-search"></i>
          </a>
        </li>
        <li class="pure-menu-item {% if 'books' == active_page %}pure-menu-selected{% endif %}">
          <a href="{{url_for('books.index')}}" class="pure-menu-link">
            <i class="fa fa-book"></i>
          </a>
        </li>
        <li class="pure-menu-item {% if 'upload' == active_page %}pure-menu-selected{% endif %}">
          <a href="{{url_for('upload.index')}}" class="pure-menu-link">
            <i class="fa fa-cloud-upload"></i>
          </a>
        </li>
        <li class="pure-menu-item pure-menu-has-children pure-menu-allow-hover
            {% if 'auto' == active_page %}pure-menu-selected{% endif %}">
            <a href="#" class="pure-menu-link">
              <i class="fa fa-magic"></i>
            </a>
            <ul class="pure-menu-children">
                <li class="pure-menu-item">
                  <a href="{{url_for('text.index')}}" class="pure-menu-link">
                    <i class="fa fa-commenting"></i>
                  </a>
                </li>
                <li class="pure-menu-item">
                  <a href="{{url_for('faces.index')}}" class="pure-menu-link">
                    <i class="fa fa-crop"></i>
                  </a>
                </li>
                <li class="pure-menu-item">
                  <a href="{{url_for('learn.index')}}" class="pure-menu-link">
                    <i class="fa fa-tasks"></i>
                  </a>
                </li>
                <li class="pure-menu-item">
                  <a href="{{url_for('characters.index')}}" class="pure-menu-link">
                    <i class="fa fa-group"></i>
                  </a>
                </li>
            </ul>
        </li>
        <li class="pure-menu-item pure-menu-has-children pure-menu-allow-hover
            {% if 'manual' == active_page %}pure-menu-selected{% endif %}">
            <a href="#" class="pure-menu-link">
              <i class="fa fa-cogs"></i>
            </a>
            <ul class="pure-menu-children">
                <li class="pure-menu-item">
                  <a href="{{url_for('manual_text.index')}}" class="pure-menu-link">
                    <i class="fa fa-commenting"></i>
                  </a>
                </li>
                <li class="pure-menu-item">
                  <a href="#" class="pure-menu-link">
                    <a href="{{url_for('manual_characters.index')}}" class="pure-menu-link">
                      <i class="fa fa-group"></i>
                    </a>
                  </a>
                </li>
            </ul>
        </li>
        <li class="pure-menu-item {% if 'demo' == active_page %}pure-menu-selected{% endif %}">
          <a href="{{url_for('demo.index')}}" class="pure-menu-link">
            <i class="fa fa-terminal"></i>
          </a>
        </li>
      </ul>
    </div>
    <div id="content">
      {% block content %}{% endblock %}
    </div>
  </body>
</html>
